*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  --font-family: "Roboto", sans-serif;
  --font-big: 700;
  --font-mid: 500;
  --font-small: 300;
  --font-btn-size: 1.1rem;
  --container-width: 350px;
  --container-height: 300px;
  --margin-left: 14px;

  --icon-size: 1.2rem;

  /* colors */
  --background-color: rgb(246, 201, 191);
  --color-blue: rgb(75, 56, 117);
  --color-orange: rgb(238, 118, 82);
  --color-red: rgb(225, 61, 1);
  --color-pink: rgb(241, 163, 140);
  --color-btn-blue: rgb(36, 29, 125);
}

#home {
  font-family: var(--font-family);
  display: block;
  overflow: auto;
}

.container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--background-color);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 4fr 4fr 2fr;
  overflow: hidden;
}

.box1 {
  grid-row: 1 / span 4;
  grid-row: 1;
  padding-top: 20px;
  color: var(--color-blue);

  transform: translate(0%, -100%);
  animation: topBottom 5s infinite ease-in;
}

.box1 .box-1-int {
  margin-left: var(--margin-left);
}

.box1 h4 {
  font-weight: var(--font-mid);
  font-size: 1.5rem;
}

.fa-check {
  font-size: var(--icon-size);
  transform-origin: center center;

  opacity: 0;
  animation: rotate 5s infinite ease-in;
}

.box2 {
  grid-row: 2;
  font-weight: var(--font-mid);
  background-color: var(--color-pink);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  transform: translate(0%, 160%);
  animation: bottomTop1 5s infinite ease-in-out;
}

.box-2-int {
  display: flex;
}

.box2 .box-2-int .box-int1 {
  color: var(--color-red);
  margin-left: var(--margin-left);
  font-size: 3rem;
}

.box2 .box-2-int .box-int2 h5 {
  text-transform: uppercase;
  margin-top: 17%;
  font-weight: 100;
  font-size: 1.2rem;
  margin-left: 10px;
}

.box3 {
  grid-row: 3;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  transform: translate(0%, 160%);
  animation: bottomTop2 5s infinite ease-in-out;
}

.box3 .btn {
  font-size: var(--font-btn-size);
  letter-spacing: 0.1rem;
  width: 100px;
  height: 30px;
  background-color: var(--color-btn-blue);
  color: white;
  margin-left: var(--margin-left);
  border: 0px;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  animation: rightLeft 5s infinite ease-in-out;
}

.box3 h6 {
  font-weight: var(--font-small);
}

@keyframes topBottom {
  0% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
  10% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  70% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  80% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
}

@keyframes bottomTop1 {
  0% {
    transform: translate(0%, 160%);
    opacity: 0;
  }
  30% {
    transform: translate(0%, 160%);
    opacity: 0;
  }
  40% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  80% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  90% {
    transform: translate(0%, 160%);
    opacity: 0;
  }
}

@keyframes bottomTop2 {
  0% {
    transform: translate(0%, 160%);
    opacity: 0;
  }
  15% {
    transform: translate(0%, 160%);
    opacity: 1;
  }
  40% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  80% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  90% {
    transform: translate(0%, 160%);
    opacity: 0;
  }
}

@keyframes rightLeft {
  0% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
  42% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
  47% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  80% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  90% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
}

@keyframes rotate {
  40% {
    transform: rotate(0deg);
    opacity: 0;
  }
  45% {
    transform: rotate(360deg);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg);
    opacity: 1;
  }
  90% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
